*
{
  box-sizing: border-box;
}

.wrapper
{
  border: 2px solid cadetblue;
  border-radius: 10px;
  background-color: azure;
}

.wrapper > div 
{
  border: 2px solid royalblue;
  border-radius: 5px;
  background: saddlebrown
}
