html, body {
    height: 100%;
    width: 100%;
    font-size: 2px;
    /* margin: 0;
    box-sizing: border-box;
  } */
} 
  body {
    height: 100%;
    /* font: caption; */
    font-size: 12px;
    background-color: #F4F7F8;
  }

    
        .demo-card-wide.mdl-card {
          width: 200px;
          margin:2em; 
        }
        .demo-card-wide > .mdl-card__title {
          color: #fff;
          height: 176px;
          /* background: url('../assets/demos/welcome_card.jpg') center / cover; */
        }
        .demo-card-wide > .mdl-card__menu {
          color: #fff;
        }
        
  /* #list
  {
    margin:1em;
    height:70%;
    /* background: rgb(94, 137, 151); */
  /* }
  #todotasks
  {
    margin:1em 1em 0em 1em;
    width:80%;
  }
  
  
  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

 #addNewTask
 {
  position: relative;
  top:0%;
 } */ 

 #addNewTask
 {
   position: sticky;
   top:90%;
   left:80%;
 }