html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font: caption;
    background-color: #F4F7F8;
  }
  
  #list
  {
    margin:1em;
    height:70%;
    /* background: rgb(94, 137, 151); */
  }
  #todotasks
  {
    margin:1em 1em 0em 1em;
    width:80%;
  }
  
  
  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

 #addNewTask
 {
  position: relative;
  top:0%;
 }